body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
<<<<<<< HEAD
  
  background-color: #21293A;
  color: #828c9f;
  font-family: 'Montserrat', sans-serif !important;
}
=======
>>>>>>> f3f5eb6a459d4d54f8a461c3b0951184b49875ac

  background-color: var(--offwhite) !important;

  overflow-x: hidden;
}

.MuiTable-root{
  background-color: #21293A;
}
.MuiTableCell-root{
  color: white !important;
  border: none !important;
  text-align: center !important;
  font-family: 'Montserrat', sans-serif !important;
}
